body{
    background-color: black;
    background-image: url(kepek/auto_background_14.jpg);
    color: white;
    max-width: 1000px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
link{
    color: orange;
    padding: 20px;
    padding: 30px;
    border: 10px solid orange;
    border-radius: 50%;
    background-color: rgb(50, 48, 48)
}
img{
    width: 400px;
    border: 10px solid rgb(50, 48, 48);
    border-radius: 50%;
    padding: 10px;
}
h1{
    font-size: 50px;
    text-align: center;
    letter-spacing: 30px;
    padding: 20px;
}
h2{
    background-color: rgb(50, 48, 48);
    padding: 30px;
    border-radius: 50%;
}
p{
    text-align: justify;
    font-size: 15px;
}